/*
$headerHeight: 70px;
$footerHeight: 20px;
*/

html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  height: 70px;
}

.box .row.content {
  flex: 1 1 auto;
  height: calc(100vh - 100px);
  min-height: 400px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.box .row.footer {
  flex: 0 1 20px;
}


